/* CSS normalize */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
form,
label,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

li {
  list-style: none;
}

// Main Colors 
$color-green: #2c8121;

/* STYLE */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.todo-box {
  background-color: red;
  width: 650px;
}

h1 {
  color: $color-green;
}